<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width = device-width, initial-scale = 1.0, minimum-scale = 1.0, maximum-scale = 1.0, user-scalable = no"/>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<title>♨疯狂 可以记录</title>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
<link href="stylesheets/iscroll.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css"     href="stylesheets/page_mp_article_improve23b1e9.css">
<link rel="stylesheet" type="text/css" href="stylesheets/page_mp_article_improve_combo24531b.css">
</head>
<body>

<div class="registpage">
<div class="join-top">
	<div class="jointitle">别瞎填啊</div>
	<form action="/" method="post" class="join-mid">
		  <div class="join-input"><input type='text' name='name' id='name' placeholder="+ 标题" class="inputbox"/></div>
		  <div class="join-input inputbg6"><input type='text' name='phone' id='phone' placeholder="+ 内容" class="inputbox"/></div>
		  <div><input type='submit' value='提 交' class="join-btn"/></div>
	</form>
</div>

<div class="copyright"><a href="https://fknote.avosapps.com/query">查看所有历史记录</a> CopyRight 2015  小忄，All rights reserved.</div>
</div>
	
		

</body>
</html>
