<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width = device-width, initial-scale = 1.0, minimum-scale = 1.0, maximum-scale = 1.0, user-scalable = no"/>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<title>疯狂记事本</title>
<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
<link href="stylesheets/iscroll.css" rel="stylesheet" type="text/css" />

</head>
<body class="allbg">
<script type="text/javascript" src="stylesheets/jquery.min.js"></script>

<div class="detail-list">
	<div class="toptitle">
    	<div class="shopclass">疯狂记事本</div>
    </div>
    <ul class="shoplist">
		<% if (visitors){ %>
		<%  visitors.forEach(function (visitor){ %>
		<li>
		  <p>标题：&nbsp <%= visitor.get('name') %> </p>
		  <p>内容：&nbsp <%= visitor.get('phone') %> </p>
、、
		</li>
		<% })
		   } %>
	  </ul>

</div>

<div class="copyright">CopyRight 2015 小忄，All rights reserved.</div>
<div class="copyright"></div>

	</div>
</div>

</body>
</html>
